#count {
    display: inline;
    font-weight: bold;
    margin: 20px;
}
#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
}