
table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 20px;
    font-size: 18px;
    position: relative;
    text-align: left;
}
thead  tr:first-child {
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;

}

th {
    background-color: #a5a5a5;
    font-weight: bold;
    
}

tr:nth-child(odd) {
    background-color: #bdbdbd;
}

tr:hover {
    background-color: #f1f1f1;
}